* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    list-style: none;
}

div#wrap {
    width: 1200px;
    margin: 0 auto;

/*    border: 1px solid #000;*/
    background-color: #f6e7d0;
}

/*header 영역 시작*/
header#header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 10px 20px;
    border-bottom: 1px solid #aaa;
    background-color: #ddd;
}
#header nav#tnb {
/*    border: 1px solid #000;*/
    width: 900px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}
#tnb div#tnbLeft {
    font-size: 22px;
    font-weight: bold;
}
#tnb div#tnbRight a {
    margin-right: 15px;
}
#tnb div#tnbRight a:hover {
    opacity: 0.7;
}
#tnb div#tnbRight span {
    margin-left: 15px;
}
/*header 영역 끝*/

/*main 영역 시작*/
main#main {
    display: flex;
}

#main div#aside {
    width: 200px;
    padding-top: 40px;
    border-right: 1px solid #aaa;
}
#aside ul li a{
    display: inline-block;
    padding: 12px;
/*    border: 1px solid #000;*/
    width: 200px;
    text-align: center;
}
#aside ul li a:hover {
    background-color: rgba(253, 164, 87, 0.5);
}
#aside>ul>li>a {
    font-weight: bold;
}
#aside ul.subMenu {
    display: none;
    font-size: 14px;
}
#aside ul#mainMenu ul.on {
    display: block;
}

#main div#contents {
    width: 1000px;
    padding: 20px;
}
#contents div#titleFrame p {
    margin-bottom: 10px;
}
#contents div#searchFrame {
    border: 1px solid #bbb;
    margin: 20px;
    padding: 10px;
}
#searchFrame {
    text-align: center;
}
#searchFrame ul li {
    padding: 5px;
    text-align: left;
}
#searchFrame span {
    display: inline-block;
    width: 100px;
}
#searchFrame select {
    padding: 3px;
    background-color: #f6e7d0;
    border: 1px solid #aaa;
}
#searchFrame input {
    padding: 4px;
    background-color: #f6e7d0;
    border: 1px solid #aaa;
}
#searchFrame button {
    padding: 3px;
    width: 80px;
    margin-top: 10px;
}

#contents div#listFrame {
    border: 1px solid #bbb;
    margin: 20px;
    padding: 10px;
    position: relative;
}
#listFrame div#listFrameMenu span {
    color: #f60;
    font-weight: bold;
}
#listFrame div#listFrameMenu select {
    position: absolute;
    top: 10px;
    right:20px;
    padding: 5px;
    background-color: #eee;
}
#listFrame div#userListFrame {
    border: 1px solid #bbb;
    margin: 10px;
    padding: 15px;
}
#userListFrame div#userListMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#userListMenu button {
    padding: 4px 12px;
    border: 1px solid #aaa;
}
#listFrame div#listFramePage {
    text-align: center;
}
#listFramePage a:nth-child(3) span {
    font-weight: bold;
}
div#userList {
    text-align: center;
}
div#userList table {
    border-collapse: collapse;
}
div#userList table tr td {
    padding: 8px;
}
div#userList table tr:first-child td {
    border: 1px solid #ccc;
    background-color: #eee;
}
div#userList tr td:first-child, div#userList tr td:last-child {
    width: 60px;
/*    border: 1px solid #000;*/
}
div#userList tr td:nth-child(2), div#userList tr td:nth-child(3) {
    width: 147px;
/*    border: 1px solid #000;*/
}
div#userList tr td:nth-child(4), div#userList tr td:nth-child(5) {
    width: 220px;
/*    border: 1px solid #000;*/
}
/*main 영역 끝*/

/*smsLayer 영역 시작*/
div#smsLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
}
#smsLayer div#smsPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 260px;
    padding: 25px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}
#smsPopup textarea {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}
#smsPopup button {
    padding: 3px 12px;
    margin: 10px;
    border: 1px solid #aaa;
}
#smsPopup button#sendSmsBtn {
    background-color: rgba(253, 164, 87, 0.5);
    border: 1px solid #ccc;
}
/*smsLayer 영역 끝*/
